.sk-cube-grid {
    width: 40px;
    height: 40px;
    margin: 100px auto; 
}
  
.sk-cube-grid  {

    .sk-cube {
        width: 33%;
        height: 33%;
        background-color: white;
        float: left;
        -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
        animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
    }

    $delays:
        1 .2s,
        2 .3s,
        3 .4s,
        4 .1s,
        5 .2s,
        6 .3s,
        7 .0s,
        8 .1s,
        9 .2s;

    @each $number, $amount in $delays {
        .sk-cube#{$number} {
            -webkit-animation-delay: $amount;
            animation-delay: $amount;
        }
    }
}

@mixin keyframes($keyframe) {
    @-webkit-keyframes #{$keyframe} {
        @content;
    }

    @keyframes #{$keyframe} {
        @content;
    }
}

@include keyframes('sk-cubeGridScaleDelay') {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    } 35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}