.root {
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    overflow: hidden;
}

.header {
    flex: 0 0 auto;
    background: black;
    text-align: center;

    &__text {
        font-size: 60px;

        @media screen and (max-width: 450px) {
            font-size: 40px;
        }
    }
}

.weather {
    background: #FFE000;
    background: -webkit-linear-gradient(0deg, #799F0C, #FFE000);
    background: linear-gradient(0deg, #799F0C, #FFE000);

    flex: 1 1 auto;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 450px) {
        font-size: 30px;
    }

    &__container {
        text-align: center;
    }

    &__place, &__temperature, &__pressure, &__humidity, &__wind, &__forecastContainer {
        margin-top: 10px;
    }

    &__icon {
        margin-right: 10px;
    }

    &__forecastContainer {
        display: flex;
        justify-content: center;
        font-size: 20px;

        @media screen and (max-width: 450px) {
            font-size: 15px;
            flex-direction: column;
        }
    }

    &__forecastItem {
        margin: 0 10px;

        @media screen and (max-width: 450px) {
            margin: 0 5px 10px 0;
            border-bottom: 1px solid white;
            padding-bottom: 10px;
        }
    }

    &__forecastIcon {
        margin: 5px 0;
    }
}