<div class="root">
    <header class="header">
        <h1 class="header__text">
            Weather App
        </h1>
    </header>
    <main class="weather">
        <spinner *ngIf="loading; else notLoading"></spinner>
        <ng-template #notLoading>
            <div class="weather__container" [@enterAnimation]>
                <div class="weather__icon">
                    <fa-icon [icon]="faCloud" size="2x"></fa-icon>
                </div>
                <div class="weather__place">
                    {{place}}
                    {{country}}
                </div>
                <div class="weather__temperature">
                    <span class="weather__icon"><fa-icon [icon]="faThermometerHalf"></fa-icon></span>{{temperature}}°
                </div>
                <div class="weather__pressure">
                    {{pressure}} hPa
                </div>
                <div class="weather__humidity">
                    <span class="weather__icon"><fa-icon [icon]="faTint"></fa-icon></span>{{humidity}} %
                </div>
                <div class="weather__wind">
                    <span class="weather__icon"><fa-icon [icon]="faWind"></fa-icon></span>{{wind.speed}} m/s
                </div>
                <div class="weather__forecastContainer">
                    <div class="weather__forecastItem" *ngFor="let forecast of forecasts">
                        <div>{{forecast.day}}</div>
                        <div class="weather__forecastIcon"><fa-icon [icon]="forecast.icon"></fa-icon></div>
                        <div>{{forecast.temperature}}°</div>
                    </div>
                </div>
            </div>
        </ng-template>
    </main>
    <site-footer></site-footer>
</div>