<footer class="footer">
    <div>
        {{author}} {{year}}
    </div>
    <div class="footer__social">
        <a class="footer__socialIcon" href="https://jozefpodlecki.github.io/"><fa-icon [icon]="faGlobe"></fa-icon></a>
        <a class="footer__socialIcon" href="https://jozefpodlecki.github.io"><fa-icon [icon]="faGithub"></fa-icon></a>
        <a class="footer__socialIcon" href="https://www.linkedin.com/in/jozef-witold-podlecki"><fa-icon [icon]="faLinkedinIn"></fa-icon></a>
    </div>
</footer>