.footer {
    flex: 0 0 auto;
    background: black;
    padding: 10px;
    font-size: 30px;
    text-align: center;

    @media screen and (max-width: 450px) {
        font-size: 20px;
    }

    &__social {
        display: flex;
        justify-content: center;
    }

    &__socialIcon {
        color: rgb(134, 119, 119);
        margin: 5px;
    }
}